@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $bg-color;
  color: white;
}

#app {
  width: 100vw;
}

.calculator {
  background-color: #000;
  width: 330px;
  margin: 20px auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;

  .display {
    height: 90px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    overflow: auto;

    .formula {
      font-size: 1.5rem;
      color: #f06071;
    }

    .input-output {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  .keyboard {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    .clear {
      @include button($clear-btn-color, 160px, 80px);
    }
    
    .operator {
      @include button($operators-btn-color, 80px, 80px);
    }
    
    .number {
      @include button($numbers-btn-color, 80px, 80px);
    }
    
    .equal-btn {
      @include button($equal-btn-color, 80px, 160px);
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
